html,body,#wrapper {
	width: 1200px;
	height: 718px;
	margin: 0px;
}

canvas {
    width: 1200px;
    height: 718px;
}

.chart {
	font-family: Palatino;
	font-size: 18px;
}

.axis path,.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.prototypes {
	fill: #d73027;
}

.second-design {
	fill: #fc8d59;
}

.second-experiments {
	fill: #fee090;
}

.df-abs {
	fill: #ffffbf;
}

.applications {
	fill: #e0f3f8;
}

.validation {
	fill: #91bfdb;
}

.thesis {
	fill: #4575b4;
}
